@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  font-family: var(--font-text);
  font-weight: bold;
}
.button--ghost {
  padding: 5px 30px;
  color: black;
  font-weight: bold;
  font-family: var(--font-text);
  border:var(--button-radius);
  color:var(--color-button);
  &:hover {
    color: gray;
  }
}
.button--primary {
  width: 200px;
  color: white;
  padding: 15px 30px;
  font-size: 12px;
  background-color: var(--color-button);
  &:hover {
    background-color: var(--color-button-hover);
  }
}
