@use '../mixins/responsive.scss' as *;
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-text);
  font-size: 12px;
  @include responsive(desktop) {
  }
}
