/* ESTILOS DEL FOOTER */
@use '../mixins/responsive.scss' as *;
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 20px;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: 180px;
  background-color: var(--color-background-footer);
  &__information {
    @include responsive(desktop) {
    }
  }
  &__composition {
    @include responsive(desktop) {
      width: 340px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      margin: 0 140px;
      padding: 0;
    }
  }
}
