@use '../mixins/responsive.scss' as *;
.information {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  @include responsive(desktop) {
    width: 1242px;
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    gap: 100px;
  }
}
