@use '../mixins/responsive.scss' as *;
.number {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 100px;
  margin-top: 130px;
  margin-bottom: 40px;
  @include responsive(desktop) {
    width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    margin: 10px auto;
  }
  &__amount {
    font-family: var(--font-text);
    font-size: 60px;
    font-weight: bold;
    color: var(--color-text);
  }
  &__name {
    color: gray;
    position: relative;
    top: -40px;
  }
}
