:root {
  --color-button-ghost-: white;
  --color-button: rgba(255, 82, 193, 1);
  --button-radius: 1px rgba(255, 82, 193, 1) solid;
  --font-title: 'Poppins', sans-serif;
  --font-text: 'Open Sans', sans-serif;
  --color-text: rgba(0, 37, 46, 1);
  --color-background-footer: rgba(0, 37, 46, 1);
  --color-button-hover: rgba(255, 154, 219, 1);
  /* Variables CSS */
}

/* Variables SASS */
